@import "tailwindcss";


html {
  height: 100%;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

body {
  height: 100%;
  overflow: auto;
  overscroll-behavior: contain;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body:has([data-hide-navbar-border="true"]) .navbar {
    border-bottom-color: transparent;
  }
}